

.Homebtn {
    width: 250px;
    height: 80px;
    margin: 10px;
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    background-size: 100%;
    font-size: 1em;
    font-weight: 600;
    border-radius: 100px;
    color: white;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 500ms ease;
    box-shadow: 0 4px 6px -1px hsla(0, 0%, 0%, 0.1), 0 2px 4px -2px hsla(0, 0%, 0%, 0.1);
}

.three {
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    background-size: 200%;
}

.five {
    background: linear-gradient(to right, #3a47d5, #ae00ff, #00A8C5, #ae00ff);
    background-size: 350% 100%;

    transition: all .4s ease-in-out;
}

.five:hover {
    background-position: 100% 0;
}

@keyframes flow {
    0% {
background-position: 0% 50%;
}
100% {
background-position: 100%;
}
}