.float{
  position: absolute;
  top: 110px;
  padding: 5px;
  min-width: 200px;
  width: 1300px;
  height: 1000px;
  background: #bcc9d8;
  color: white;
  border-radius: 6px;
  box-shadow: 0 50px 30px -15px #00000020;
  transition: all .4s ease;
  /* animation: float 3s ease-in-out 0s infinite forwards; */
  align-self: center;
}

@keyframes float{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-5px);
  }
  100%{
      transform: translateY(0);
  }
}

/* #wrapper {
  height: 100%;
  display: flex;
  background-color: steelblue;
  align-items: center;
  min-height: 100%;
  -- fallback style for browsers that do not support the `vh` unit --
  min-height: 100vh;
}*/
